@model Kutse_app.Models.Puhad

@{
    ViewBag.Title = "Kustuta puhkus";
}

    <h2>Kustuta puhkus</h2>

    <h3>Kas soovite selle kindlasti kustutada?</h3>
<div>
    <h4>Puhad</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HolidayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HolidayName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrgName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrgName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HolidayDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HolidayDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Kustuta" class="btn btn-default" /> |
            @Html.ActionLink("Tagasi nimekirja", "Puhad")
        </div>
    }
</div>
